
/*NAVBAR/
/*Cria a navbar defenindo o tipo de letra a cor*/

body{ 
    margin: 0;
    padding: 0;
}
ul{
    list-style: none; /*Tira ponto da lista*/
}
.navbar
{
    background-color:black;
    position: fixed;
    top: 0;/*para ter zero distância em relacao ao top*/
    left: 0;/*para ter zero distância em relacao ao esquerda*/
    right: 0;/*para ter zero distância em relacao a direita*/
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
  
}
nav{
    display: flex/*horizontal (flex)*/
}
/*faz com que a margem e o padding ficam a zero para que fiquem na navbar */
.navbar nav ul{
    display: flex;
    margin: 0;
    padding: 0;
   
}

/*espacamento entre os conteudos da navbar nomeadamente o Logo */
nav .left li{
    padding: 18px;
}
/*Faz a parte dos menus ficarem colados À direita  */
nav .right{
    position: absolute;
    right: 0;
}
/*o espacamento entre os menus da navbar*/
nav .right li{
   padding: 18px 0px;
}
/*tirar a underline dos links e colocar a cor em branco*/
nav li a{
    text-decoration: none;
    color: white;
    padding: 18px 15px;
 }
 nav li button a{
    padding-bottom: 19px;
    padding-top: 21px;
 }

 nav li a:hover{
    background-color: #FF4E00;
}

/*Mudar a cor do menu quando o cursor for passado por cima*/
 /*nav .right li a:hover{
     text-decoration:underline; 
 }*/

/*Compo a imagem de fundo */
 .background {
    background-image: url("http://www.dubmagazine.com/home/images/stories/Mr%20Fux/mrflux8.jpg");
    background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
   width: 100%;
   height: 900px;
   text-align: center;
  text-shadow: 4px 4px 8px black;

 }

.background h1{
    margin-top: 50px;
    padding-top: 150px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 100px;
    color: white;
}

 #underline{
    width: 700px;
    border: solid 1px #FF4E00;
    height: 10px;
    background-color: #FF4E00;
}

.background h2
{
    border-top: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
    color: white;
}
/* on hover this evects aplica ao valor da coleccao  ""*/
#euros:hover 
{
    color: #FF4E00; 
}

.carh{ 
    background-color: white;
}

/*Higlights dos carros*/
#top
{
    padding: 5px;
    margin-top: 0%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #FF4E00;
    text-align: center;
}

/*define que os textos e imagens do hover fiquem no centro*/
.higlights{
    text-align: center;
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 30px;
    /*padding-top: 0px;*/
    padding: 15px;
    
}

/*Retira a underline do link*/
.higlights a
{
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: px;
}

.xpto
{
    padding: 10px;
    
}

.higlights a:hover 
{
    background-color: #FF4E00;
    padding-bottom: 25px;
    text-decoration: none;
}

.higlights a p{margin-top: 0px;}


.higlights a p:hover
{
   /*background-color: grey;*/

}

 /* div #carh .top{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:white;
}

div #carh #highlight
{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    margin: 0px;
}*/

 /*DROPDOWN LIST*/
 .dropbtn {
    background-color: black;
    color: white;
    padding: 0px 0px 17px 0px;
    font-size: 17px;
    border: none;    
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 150px;
    z-index: 1;
}

.dropdown-content a {   
    padding: 12px 14px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #FF4E00;
}

.dropdown:hover .dropdown-content {
    display: block;
}




/*contact uss part */
/*Container of the elements */
.container
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height:100%;
    margin-top: 55px;
  
    padding-bottom: 0%;
    margin-bottom: 0%;
    border: 0px;
    
}


/* Este div com id="info" */
.info
{
    margin: auto;
    margin-top: 100px;
    padding: 10px;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 15px;
    width: 75%;
    background-color: #FF4E00;  
}


/*unica imagem desta pagina que se encontra dentro de um  div com id=""*/
.imagem
{  
    background-image: url("https://images.pexels.com/photos/1231643/pexels-photo-1231643.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260")
}

/*buy style code*/
#buy 
{    
    margin-top: 40px;
    margin-bottom:10px;
    margin-left: 5px;
    margin-right: 5px;
}
#buy h1
{
    margin-left: 15px;
    font-size: 37px;
    text-align: initial;
    margin-bottom: 0%;
    padding-bottom: 0%;
    border-bottom: 0px;
}

#buy h2
{
    margin-left: 15px;
    padding: 0%;
    margin-right: 0%;
    width: 280px;
    text-align: initial;
    font-size: 27px;
    margin-bottom: 0%;
}

#buy h2:hover
{
    text-shadow: 2px 2px black;
    text-decoration-style: solid 50px;
    color: #F8F8F8;
}


/*Chat style code*/
#chat 
{
  
    
    margin-top: 40px;
    margin-bottom:10px;
    margin-left: 5px;
    margin-right: 5px;
}
#chat h1
{
    margin-top: 0%;
         margin-left: 15px;
        font-size: 37px;
        text-align: initial;
        margin-bottom: 0%;
        padding-bottom: 0%;
        border-bottom: 0px;
        margin-right: 15px;
}

#chat h2
{

    margin-left: 15px;
    padding: 0%;
    margin-right: 0%;
    width: 270px;
    text-align: initial;
    font-size: 27px;
}

#chat h2:hover
{
    text-shadow: 2px 2px black;
    text-decoration-style: solid 50px;
    color: #F8F8F8;
}


#email
{    
    font-size: 10px;
    margin-left: 30px;
}

 /*Flex container
 .flex-container {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
  }

  .flex-container > div {
    background-color: #f1f1f1;
    width: 100%;
    margin: 10px;
    text-align: center;
  }*/

div.carcontainers{
    margin: auto;
    margin-top: 15px;
    padding: 10px;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 15px;
}

.about
{
    margin: auto;
    margin-top: 100px;
    padding: 10px;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align:center;
    margin-bottom: 15px;
    width: 75%;
    background-color: #FF4E00;  
}